flow.json
[
    {
        "id": "2a1b10cc.aaf9e",
        "type": "tab",
        "label": "actuate LEDs (buttons)",
        "disabled": false,
        "info": "# Node RED: actuate LEDs (buttons)\n\n> This repository is a [Node RED](https://nodered.org/) Flow that actuates two LEDs when buttons are pressed and makes the payload (a binary output on the status of a _Pin_) available.\n\n## Table of Contents\n\n- [Hardware](#hardware)\n- [Wiring](#wiring)\n- [Usage](#usage)\n- [Author Information](#author-information)\n- [License](#license)\n\n## Hardware\n\n* 1 Raspberry Pi 3\n* 1 breadboard\n* 4 resistors (270-550 Ohms)\n* 6 jumper cables (female to male)\n* 2 jumper cables (male to male)\n* 2 LEDs\n\n## Wiring\n\nThis flow actuates two LEDs; one on _Pin 11_, the other on _Pin 13_. It also receives inputs from two push buttons; one on _Pin 15_, the other on _Pin 16_.\n\nA wiring diagram is included in the `fritzing.png` file.\n\n## Usage\n\nImport this flow into _Node RED_ by clicking on the hamburger menu, followed by _\"Import\"_ and _\"Clipboard\"_.\n\nThe import dialogue can also be triggered by pressing `CTRL` and `I` on your keyboard.\n\nThen, paste the contents of `flow.json` into the text area and click _\"Import\"_.\n\n## Author Information\n\nThis flow is currently maintained by the individuals listed below.\n\n- [Kerim Satirli](https://github.com/ksatirli)\n\nDevelopment of this module was sponsored by [Method](https://github.com/withmethod).\n\n## License\n\nCopyright 2017 [Kerim Satirli](https://github.com/ksatirli)\n\nLicensed under the Apache License, Version 2.0 (the \"License\"); you may not use this file except in compliance with the License.\n\nYou may obtain a copy of the License at [apache.org/licenses/LICENSE-2.0](http://www.apache.org/licenses/LICENSE-2.0)\n\nUnless required by applicable law or agreed to in writing, software distributed under the License is distributed on an _\"AS IS\"_ basis, without WARRANTIES or conditions of any kind, either express or implied.\n\nSee the License for the specific language governing permissions and limitations under the License.\n"
    },
    {
        "id": "aa888e4e.907528",
        "type": "rpi-gpio in",
        "z": "2a1b10cc.aaf9e",
        "name": "upper button (PIN 15)",
        "pin": "15",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "6ee2dfc5.bf37a8"
            ]
        ]
    },
    {
        "id": "b47ae70e.25afe8",
        "type": "rpi-gpio out",
        "z": "2a1b10cc.aaf9e",
        "name": "red LED (PIN 11)",
        "pin": "11",
        "set": false,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "6ee2dfc5.bf37a8",
        "type": "switch",
        "z": "2a1b10cc.aaf9e",
        "name": "switch input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "49dd8373.0655fc",
                "7f22fb2d.69a56c"
            ],
            [
                "d2094961.309bf8",
                "12348544.95d343"
            ]
        ]
    },
    {
        "id": "49dd8373.0655fc",
        "type": "change",
        "z": "2a1b10cc.aaf9e",
        "name": "set to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "b47ae70e.25afe8"
            ]
        ]
    },
    {
        "id": "d2094961.309bf8",
        "type": "change",
        "z": "2a1b10cc.aaf9e",
        "name": "set to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "b47ae70e.25afe8"
            ]
        ]
    },
    {
        "id": "12348544.95d343",
        "type": "debug",
        "z": "2a1b10cc.aaf9e",
        "name": "switch: set to 1",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f22fb2d.69a56c",
        "type": "debug",
        "z": "2a1b10cc.aaf9e",
        "name": "switch: set to 0",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "a2c89411.d8e6f8",
        "type": "rpi-gpio in",
        "z": "2a1b10cc.aaf9e",
        "name": "lower button (PIN 16)",
        "pin": "16",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "dc1f39fc.39b058"
            ]
        ]
    },
    {
        "id": "66ad7279.b95eec",
        "type": "rpi-gpio out",
        "z": "2a1b10cc.aaf9e",
        "name": "green LED (PIN 13)",
        "pin": "13",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "dc1f39fc.39b058",
        "type": "switch",
        "z": "2a1b10cc.aaf9e",
        "name": "switch input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "39ae067b.8f8afa",
                "69b089c2.4dc9c8"
            ],
            [
                "83a7b00c.c15c08",
                "f5f28629.9ab1a8"
            ]
        ]
    },
    {
        "id": "39ae067b.8f8afa",
        "type": "change",
        "z": "2a1b10cc.aaf9e",
        "name": "set to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 480,
        "wires": [
            [
                "66ad7279.b95eec"
            ]
        ]
    },
    {
        "id": "83a7b00c.c15c08",
        "type": "change",
        "z": "2a1b10cc.aaf9e",
        "name": "set to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 560,
        "wires": [
            [
                "66ad7279.b95eec"
            ]
        ]
    },
    {
        "id": "f5f28629.9ab1a8",
        "type": "debug",
        "z": "2a1b10cc.aaf9e",
        "name": "switch: set to 1",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "69b089c2.4dc9c8",
        "type": "debug",
        "z": "2a1b10cc.aaf9e",
        "name": "switch: set to 0",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 700,
        "y": 420,
        "wires": []
    }
]
